.chat {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    height: 100vh;
    background-color: white;
}

@media (max-width: 600px) {
    .chat {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 90vh;
    }

    .chat__input {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-top: 1px solid lightgray;;
        background-color: #f5f5f5;
    }

    .chat__show {
        z-index: 30;
    }
}


.chat__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    background-color: #f5f5f5;
}

.chat__header > h4 {
    font-weight: 500;
    color: gray;
}

.chat__messages {
    flex: 1;
    overflow: scroll;
}

.chat__messages::-webkit-scrollbar {
    display: none;
}

.chat__messages {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat__name {
    color: black;
}

.chat__input {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid lightgray;;
    background-color: #f5f5f5;
}

.chat__input > form {
    flex: 1;
    font-size: 16px;
}

.chat__input > form > input {
    width: 98%;
    font-size: 16px;
    outline: none;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 999px;
}

.chat__input > form > button {
    display: none;
}